.schedule {
    section { margin: 20px 0; padding: 0 15px;}
    .artistas {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .ficha {
            text-align: center;
            background-color: white;
            margin: 20px;
            img {
                height: 250px; 
                width: 250px;
                object-fit: cover;
            }

            p { margin: 0;}

            .nombre-artista { font-weight: bold;}
            .hora { padding-bottom: 10px;}
        }
    }

    .viernes {
        border: 5px solid $main-color;
        h1 { color: $main-color; }
    }
    .sabado {
        border: 5px solid $second-color;
        h1 { color: $second-color; }
    }
    .domingo {
        border: 5px solid $fourth-color;
        h1 { color: $fourth-color; }
    }
}